/*
   Site-specific Style-sheet for Esquimalt Graving
   Dock Booking

   Date Created: 2008-06-27
   Creator: lois.chan@pwgsc.gc.ca

   This style-sheet is maintained by AMI&TOS Pacific for
   EGD Booking. Updates to this style sheet will be at
   the discretion of AMI&TOS Pacific.

   --------------------------------------------------------

   These custom classes are used in all of the EGDBk site.

*/

/* GENERAL CONTROL DEFINITIONS ------------------------- */

.uglyred {
  color: #B60000;
}

.indent {
  padding-left: 2em;
}

div.center .left {
	text-align: left;
}

div.center .right {
	text-align: right;
}

.hidden {
  display: none;
}

.clear {
  clear: both;
}

abbr.required {
  color: #a00; text-decoration: none; font-size: 150%;
}

div.error {
	color: #a00; text-decoration: none;
}

form legend {
  display: none;
}

a#dismiss { color: #369; cursor: pointer; text-decoration: underline; }

/* Overrides the institution definition of colLayout
   having 100% height, which is buggy on our test
   server. */
div.core div.colLayout {
	height: auto;
}

/* CALENDAR TABLE -------------------------------------- */

div.calendar {
	display: table;
	width: 700px;
	border-left:1px solid #666666;
	border-right:1px solid #666666;
	border-bottom:1px solid #666666;
	float:left;
}

div.week_header {
	/* height: 84px; */
	float:left; 
	width:100%;
	display:table-row;
	border-top:1px solid #666666;
}

div.week {
	/* height: 84px; */
	float:left; 
	width:100%;
	display:table-row;
	border-top:1px solid #666666;
	min-height:50px;
}


div.calendar .day {
	border:1px solid  #f5f5f5;
	background-color: #f5f5f5;
    font-size: 80%;
	text-align: left;
	vertical-align: top;
	float:left; 
	width:98px;
	background-color:#f5f5f5;
	display:table-column;
}

div.calendar .day_header {
	border:1px solid  #f5f5f5;
	background-color: #f5f5f5;
    font-weight: bold;
	text-align: center;
	vertical-align: top;
	float:left; 
	width:98px;
	background-color:#f5f5f5;
	display:table-column;
}


div.calendar .vessel {
  padding: 3px 0px 3px 0px;
  text-align: center;
}

div.calendar sup {
  font-size: 83%;
  color: #800000;
}

div.vessel a.legend {
  color: #fff;
  text-decoration: none;
}

/* These are smallified version of the calendar table for
   smaller calendars. */
table.calendar.small {
	font-size: 90%;
}
table.calendar.small th {
	font-size: 80%;
}
table.calendar.small td {
	height: 15px;
	font-size: 75%;
}

/* Table layout for legends and keys. */
table.keytable {
	border: 1px solid #ccc;
	border-collapse: collapse;
	width: 300px;
	font-size: 90%;
	margin-top: 1em;
	margin-bottom: 1em;
  text-align: center;
}

table.keytable th, table.keytable td {
	border: 1px solid #ccc;
}

div.keytableWrapper {
	clear: both;
	padding-left: 25%;
	padding-right: 25%;
}

div.selector a.previousLink {
	float: left;
}

div.selector a.nextLink {
	float: right;
	text-align: right;
}

/* SUMMARIES ------------------------------------------- */
/*  */

tr.confirmed td {
  font-weight: bold;
  text-transform: uppercase;
}
  
th.vessel, th.docking, th.booking {
	width: 30%;
}

th.section {
	width: 10%;
}

/* DOCK SECTIONS --------------------------------------- */
.sec1 { background-color: #9EFF82; }
.sec2 { background-color: #CEE6FF; }
.sec3 { background-color: #FFFF80; }
.sec1, div#wb-main-in .sec1 a, .sec2, div#wb-main-in .sec2 a, .sec3, div#wb-main-in .sec3 a { color: #000; padding: 2px; }

.confirmed, div.center .confirmed a { color: #000; }
.tentative, div.center .tentative a, a:link.tentative { color: #234764; }
.pending, div.center .pending a { color: #005100; }
.cancelled, div.center .cancelled a { color: #D00; }

/* CONFLICTS ------------------------------------------- */

/* Smaller-than-normal H2 definition so the page doesn't
   look so ridiculous with three or four large headings. */
h2.conflict {
	font-size: 120%;
	margin-bottom: 0px;
}

div.buttons {
	padding: 1em 0;
}

form input#LloydsID, form p#lloyds_id {
	margin-bottom: 3.8em;
}

form input#blockteardowntime, form p#block_teardown_time {
	margin-bottom: 2.2em;
}

div.menu ul {
  width: 400px;
}

div.menu li {
  display: inline;
  list-style: none;
}

/* Increases padding on rows that have inline text
   buttons. */
tr.containsbutton td {
	padding: 5px;
}

div#print_summary td, div#print_summary th {
	
  border: 1px solid #ccc;
  padding: 3px;
}

/* COMPAT FIXES----------------------------------------- */

.keyfloat {
	float: right;
}

.tbfix {
	border: 1px solid #cccccc; 
	padding: 3px;
}

.small {
	font-size: 8pt;
}

.space {
	padding-right: -28px;
	font-weight: bold;
}

.widemod {
	width: 90%;
} 

.column-3 {
	-moz-column-count:3; /* Firefox */
	-webkit-column-count:3; /* Safari and Chrome */
	column-count:3;
}

.column-2 {
	-moz-column-count:2; /* Firefox */
	-webkit-column-count:2; /* Safari and Chrome */
	column-count:2;
}