/*
   Site-specific Style-sheet for Esquimalt Graving
   Dock Booking

   Date Created: 2008-06-27
   Creator: lois.chan@pwgsc.gc.ca

   This style-sheet is maintained by AMI&TOS Pacific for
   EGD Booking. Updates to this style sheet will be at
   the discretion of AMI&TOS Pacific.

   --------------------------------------------------------

   These custom classes are used in all of the EGDBk site.

*/

/* GENERAL CONTROL DEFINITIONS ------------------------- */

/* .module-info-widemod {
	border-style: solid;
	padding:0 10px 0 10px;
}*/

#wb-main table .booking-detail {
	border-style: solid;
	padding:0 30px 30px 30px;
	margin-bottom: 200px;
}

.color-accent {
	color: red;
}

.textbutton {
	margin-right: 30px;
}

.uglyred {
  color: #B60000;
}

.red {
	color: #B60000;
}

.indent {
  padding-left: 2em;
}

div.center .left {
	text-align: left;
}

div.center .right {
	text-align: right;
}

.hidden {
  display: none;
}

.clear {
  clear: both;
}

.required {
  color: #f00; text-decoration: none;
}

div.error {
	color: #f00; text-decoration: none;
}

form legend {
  display: none;
}

a#dismiss { color: #369; cursor: pointer; text-decoration: underline; }

/* Overrides the institution definition of colLayout
   having 100% height, which is buggy on our test
   server. */
div.core div.colLayout {
	height: auto;
}

/* CALENDAR TABLE -------------------------------------- */

div.calendar {
	display: table;
	border-left:1px solid #666666;
	border-right:1px solid #666666;
	border-bottom:1px solid #666666;
	float:left;
}

div.week_header {
	/* height: 84px; */
	float:left; 
	width:100%;
	display:table-row;
	border-top:1px solid #666666;
}

div.week {
	/* height: 84px; */
	float:left; 
	width:100%;
	display:table-row;
	border-top:1px solid #666666;
	min-height:50px;
}


div.calendar .day {
	border:1px solid  #f5f5f5;
	background-color: #f5f5f5;
    font-size: 80%;
	text-align: left;
	vertical-align: top;
	float:left; 
	width:98px;
	background-color:#f5f5f5;
	display:table-column;
}

div.calendar .day_header {
	border:1px solid  #f5f5f5;
	background-color: #f5f5f5;
    font-weight: bold;
	text-align: center;
	vertical-align: top;
	float:left; 
	width:98px;
	background-color:#f5f5f5;
	display:table-column;
}


div.calendar .vessel {
  padding: 3px 0px 3px 0px;
  text-align: center;
}

div.calendar sup {
  font-size: 90%;
  color: #800000;
}

div.vessel a.legend {
  color: #fff;
  text-decoration: none;
}

/* These are smallified version of the calendar table for
   smaller calendars. */
table.calendar.small {
	font-size: 90%;
}
table.calendar.small th {
	font-size: 80%;
}
table.calendar.small td {
	height: 15px;
	font-size: 75%;
}

/* Table layout for legends and keys. */
table.keytable {
	border: 1px solid #ccc;
	border-collapse: collapse;
	width: 300px;
	font-size: 90%;
	margin-top: 1em;
	margin-bottom: 1em;
  text-align: center;
}

table.keytable th, table.keytable td {
	border: 1px solid #ccc;
}

div.keytableWrapper {
	clear: both;
	padding-left: 25%;
	padding-right: 25%;
}

div.selector a.previousLink {
	float: left;
}

div.selector a.nextLink {
	float: right;
	text-align: right;
}

/* SUMMARIES ------------------------------------------- */
/*  */

tr.confirmed td {
  font-weight: bold;
  text-transform: uppercase;
}
  
th.vessel, th.docking, th.booking {
	width: 30%;
}

th.section {
	width: 10%;
}

/* DOCK SECTIONS --------------------------------------- */
.sec1 { background-color: #9EFF82; }
.sec2 { background-color: #CEE6FF; }
.sec3 { background-color: #FFFF80; }
.sec1, div#wb-main-in .sec1 a, .sec2, div#wb-main-in .sec2 a, .sec3, div#wb-main-in .sec3 a { color: #000; padding: 2px; }

.confirmed, div.center .confirmed a { color: #000; }
.tentative, div.center .tentative a, a:link.tentative { color: #2e5e84; }
.pending, div.center .pending a { color: #008000; }
.cancelled, div.center .cancelled a { color: #D00; }

/* CONFLICTS ------------------------------------------- */

/* Smaller-than-normal H2 definition so the page doesn't
   look so ridiculous with three or four large headings. */
h2.conflict {
	font-size: 120%;
	margin-bottom: 0px;
}

div.buttons {
	padding: 1em 0;
}

form input#LloydsID, form p#lloyds_id {
	margin-bottom: 3.8em;
}

form input#blockteardowntime, form p#block_teardown_time {
	margin-bottom: 2.2em;
}

div.menu ul {
  width: 400px;
}

div.menu li {
  display: inline;
  list-style: none;
}

/* Increases padding on rows that have inline text
   buttons. */
tr.containsbutton td {
	padding: 5px;
}

div#print_summary td, div#print_summary th {
	
  border: 1px solid #ccc;
  padding: 3px;
}

/* COMPAT FIXES----------------------------------------- */

.keyfloat {
	float: right;
}

.tbfix {
	border: 1px solid #cccccc; 
	padding: 3px;
}

.small {
	font-size: 8pt;
}

.space {
	padding-right: 0px;
	font-weight: bold;
}

.widemod {
	width: 90%;
} 

.column-3 {
	-moz-column-count:3; /* Firefox */
	-webkit-column-count:3; /* Safari and Chrome */
	column-count:3;
}

.column-2 {
	-moz-column-count:2; /* Firefox */
	-webkit-column-count:2; /* Safari and Chrome */
	column-count:2;
}

.module-info{
	margin-left:10px;
}

table{
	font-size:0.91em;
	line-height: 1;
}

/* additional rules for WET 4.0 */

.form-inline > * {
    margin-right: 0;
}

ul, dl, ol {
	margin: 0;
}

#wb-main-in {
	float: right;
    display: inline;
    width: 75%;
    padding-left: 15px;
    padding-right: 15px;
}

#wb-sec {
	float: left;
	display: block;
	width: 25%;
	padding-left: 15px;
    padding-right: 15px;
}

#wb-main {
	margin-bottom: 20px;
}

#gcwu-date-mod {
	margin-top: 20px;
	float: right;
}

#wb-main label {
	display: block;
}

#wb-main input[type="image"] + label, input[type="checkbox"] + label, input[type="radio"] + label {
    display: -moz-inline-stack !important;
    display: inline-block !important;
    vertical-align: middle;
}

#wb-main input, textarea, select, .form-uneditable-input {
    border-style: solid;
    border-width: 1px;
    min-height: 18px !important;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

#wb-main input[type="button"], input.button-accent, button.button-accent, a.button-accent, summary.button-accent {
    background-color: #176ca7;
    border-color: #0e4164 #0e4164 #0b324d;
    color: white !important;
    text-shadow: 0 1px 1px #222;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE3NmNhNyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzExNGY3YSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#176ca7),color-stop(100%,#114f7a));
    background-image: -webkit-linear-gradient(#176ca7,#114f7a);
    background-image: -moz-linear-gradient(#176ca7,#114f7a);
    background-image: -o-linear-gradient(#176ca7,#114f7a);
    background-image: linear-gradient(#176ca7,#114f7a);
    padding-left: 20px !important;
	padding-right: 20px !important;
}

#wb-main blockquote, form, img, pre {
    margin-bottom: 10px;
}

#wb-main label {
	font-weight: normal;
/*	padding-top: 10px;
	padding-bottom: 10px;*/
}

#wb-main .picker-field {
	height: 37px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

#wb-main .picker-toggle{
	margin-bottom: 10px;
}

#wb-main #calendar8 a {
	display: inline-block;
	padding: 2px;
}

#wb-main table.keytable th {
    background-color: #eee;
    text-align: center;
    padding: 2px;
}

#wb-main .keyfloat {
    float: right;
}

#wb-main .span-1 {
	width: 20%;
}

#wb-main .span-3 {
	width: 50%;
	float: left;
}

#wb-main .row-start {
	display: inline-block;
}

#wb-main .row-end {
	display: inline;
}

#wb-main table:not(.keytable) {
	width: 70%;
	max-width: 100%;
	margin-bottom: 23px;
	border-collapse: collapse;
	border-spacing: 0;
	margin: 10px;
}

#wb-main table > tbody > tr > td, #wb-main table > tbody > tr > th, #wb-main table > tfoot > tr > td, #wb-main table > tfoot > tr > th, #wb-main table > thead > tr > td, table > thead > tr > th {
    padding: 8px;
    line-height: 1.4375;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

#wb-main .width-90 {
	width: 90%;
}

#wb-main label {
    display: block;
    margin-bottom: 5px;
}

#wb-main table:not(.keytable) > tbody > tr > th {
	border-top: 0;
	vertical-align: bottom;
	border-bottom: 2px solid #ddd;
	font-size: 110%;
}

#wb-main table:not(.keytable) > thead > tr > th {
	border-top: 0;
	vertical-align: bottom;
	border-bottom: 2px solid #ddd;
	font-size: 110%;
}

#wb-main table:not(.width-90):not(.keytable) > tbody > tr:nth-child(2n+1) {
    background-color: #f5f5f5;
}

#wb-main table.width-90 > tbody > tr:nth-child(4n+3) {
    background-color: #f5f5f5;
}

#wb-main .form-radio, .form-checkbox {
    text-align: left !important;
}

#wb-main .form-radio input[type="radio"], #wb-main .form-radio input[type="checkbox"], #wb-main .form-checkbox input[type="radio"], #wb-main .form-checkbox input[type="checkbox"] {
    float: left;
    margin-left: -20px;
    margin-top: 2px;
    border: none;
}

#wb-main .form-radio, .form-checkbox {
    padding-left: 20px;
    padding-top: 2px;
    text-align: left !important;
    zoom: 1;
    overflow: hidden;
}
